# Entorno Astro y Node
node_modules
.astro
dist
.env
.DS_Store

# Archivos temporales y de sistema
.snapshots
_basura
scratch

# Seguridad y Base de Datos local
*.key
*.xlsx
*.csv

# Rutas específicas del proyecto
web01/Manuales_pdf/web01/Empleados/

# Blindaje de Diseño Gráfico y Multimedia (NUEVO)
*.psd
*.ai
*.indd
*.raw
*.eps
*.tif
*.tiff
*.mp4
*.mov