@import "tailwindcss";

@theme {
  --color-ferrari-red: #ff2800;
  --color-jet-black: #0a0a0a;
  --color-white: #ffffff;
  --color-primary-light: #ff4d29;
  --color-primary: #ff2800;
  --color-secondary: #0a0a0a;
  --color-text-muted: #888888;
  --font-montserrat: "Montserrat", sans-serif;
  --font-sans: "Montserrat", sans-serif;
}
